form p {
    margin: 3px;
}
section span {
    color: red;
}
#signinbtn {
    cursor: pointer;
}
#divider {
    margin: 2px auto;
}


/*Responsive Layout*/
@media (max-width: 600px) {
    section {
        width: auto;
        margin: 25px 0px;
    }
    footer {
        margin: 25px 0px 0px 0px;
    }
}