section {
    width: auto;
}
div {
    column-count: 2;
    column-rule: 3px solid #49b7eb;
    text-align: left;
    margin: 10px;
    font-size: 15px;
}
h2 {
    font-size: 20px;
    font-weight: bold;
}

/*Responsive Layout*/
@media (max-width: 600px) {
    section {
        margin: 15px 0px;
    }
    div {
        column-count: auto;
    }
}